body {
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin: 0;
}

ul {
    list-style: none;
}

.container {
    margin: auto;
}

.top-bar {
    background-color: black;
    color: lightgray;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo {
    margin-left: 200px;
    flex-basis: 1;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    align-items: stretch;
}

.nav-links li {
    padding-top: 5px;
    cursor: pointer;
}

.nav-links li:hover {
    color: #fff;
}

.right-icons {
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
}

.right-icons li {
    margin-left: 50px;
    padding-top: 3px;
    cursor: pointer;
}

.right-icons li:hover {
    fill: #fff;
}

.info {
    margin-top: 75px;
    text-align: center;
    font-size: 0.9rem;
}

.info span {
    color: blue;
}

.info span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.iphone-se {
    height: 520px;
    background: url('https://www.apple.com/v/iphone-se/c/images/meta/og__eop0rb3mevma_overview.png?202006111333') no-repeat;
    background-position: left top;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-box-a {
    text-align: center;
    margin-top: 20px;
}

.info-box-a h1 {
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.info-box-a p {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.info-box-a span {
    color: gray;
    font-size: 1rem;
}

.iphone-11 {
    height: 500px;
    background: url('assets/img/silhouette-of-grass-under-white-sky-925743.jpg') no-repeat;
    background-position: left top;
    background-size: 100% 500px;
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.info-box-b {
    text-align: center;
    margin-top: 40px;
}

.info-box-b h1 {
    font-size: 2.8rem;
    margin-bottom: 5px;
}

.info-box-b p {
    font-size: 1.7rem;
    margin-top: 0;
    margin-bottom: 10px;
}

.info-box-b span {
    color: gray;
    font-size: 1.2rem;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    text-align: center;
}

.btn-container span  {
    color: #1e90ff;
}

.btn-container a {
    color: #1e90ff;
    text-decoration: none;
}

.btn-container a:last-child {
    margin-left: 20px;
}

.btn-container span:hover {
    text-decoration: underline;
}